* {
    box-sizing: border-box;
    padding: 0;
    margin: 5px;
}

body {
    background-color: #d9dcd6;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #06164bd0;
    color: #ffffff;
    width: 100%;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
    width: 100%;
}

.header h1 .mughal {
    color: #d9dcd6;
}

.header .nav {
    padding-top: 35px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header .nav ul {
    list-style-type: armenian;

}

.header .nav ul li {
    display: inline-block;
    margin-left: 25px;
    
}

a {
    color: #ffffff;
    text-decoration: underline;
}

p {
    font-size: 16px;
}

#back {
    height: 200px;
    width: 99.2%;
    margin-bottom: 0px;
    background-image: url(../images/milky-way-starry-sky-night-sky-star-956999-min.jpeg);
    background-size: cover;
    background-position: center;

}

.portfolio-tile {
    display:inline-flex;
    width: 100%;
    background-color: #ffffff;
    color: rgb(66, 65, 60);
    
}

.border-highlight {
    border-style: solid;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    border-color: red;
    padding-right: 20px;
    border-width: 8px;
}

.font {
    font-family: sans-serif;
    font-size: 30px;
    text-align:justify, center;
   
}

.portfolio-media{
    min-width: 182px;
    max-width: 182px;
}

.d-flex{
    display: flex;
}

.align-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}

.workbox1 {
    display: block;
    border-style: solid;
    border-color: rgb(66, 65, 60);
    margin-left: 10px;
    margin-right: 0px;
    padding-left: 0px;
    height: 1000px;
    width: 99%;
    background-image: url("../images/Surfing-min.jpeg");
    background-size: 100%;
    background-position: center;
}

.inbox {
    display: flex;
    margin-top: 660px;
    margin-left: 0px;
    padding: 0px;
    height: 100px;
    width: 300px;
    border-left: 0px;
    background-color: #1e4e75c0
}

.inbox-font {
    font-size: 55px;
    font-family: cursive;
    text-align: justify, center;
    color: seashell;
}

.workbox2 {
    display: inline-block;
    border-style: solid;
    border-color: rgb(66, 65, 60);
    margin-left: 10px;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 0px;
    height: 500px;
    width: 995px;
    background-image: url("../images/LED\ Lights-min.jpeg");
    background-size: cover;
    background-position: center;
}

.inbox2 {
    display: flex;
    margin-top: 353px;
    margin-left: 0px;
    padding: 0px;
    height: 100px;
    width: 200px;
    border-left: 0px;
    background-color: rgba(255, 0, 0, 0.39);
}

.inbox-font2 {
    font-size: 55px;
    font-family: cursive;
    text-align: justify, center;
    color: red;
}

.workbox3 {
    display: flex;
    border-style: solid;
    border-color: rgb(66, 65, 60);
    margin-top: -506px;
    margin-left: 1014px;
    margin-right: 0;
    padding-left: 0px;
    height: 500px;
    width: 995px;
    background-image: url("../images/Calculator.jpeg");
    background-size: cover;
    background-position: center;
}

.inbox3 {
    display: flex;
    margin-top: 353px;
    margin-left: 0px;
    padding: 0px;
    height: 100px;
    width: 259px;
    border-left: 0px;
    background-color: plum;
}

.inbox-font3 {
    font-size: 55px;
    font-family: cursive;
    text-align: justify, center;
    color: red;
}

.workbox4 {
    display: inline-block;
    border-style: solid;
    border-color: rgb(66, 65, 60);
    margin-left: 10px;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 0px;
    height: 500px;
    width: 995px;
    background-image: url("../images/3D Pastel Puzzle Background-min.jpeg");
    background-size: cover;
    background-position: center;
}


.inbox4 {
    display: flex;
    margin-top: 353px;
    margin-left: 0px;
    padding: 0px;
    height: 100px;
    width: 354px;
    border-left: 0px;
    background-color: #024fc4c0;
}

.inbox-font4 {
    font-size: 55px;
    font-family: cursive;
    text-align: justify, center;
    color: #66c3dfd0;
}

.workbox5 {
    display: flex;
    border-style: solid;
    border-color: rgb(66, 65, 60);
    margin-top: -506px;
    margin-left: 1014px;
    margin-right: 0;
    padding-left: 0px;
    height: 500px;
    width: 995px;
    background-image: url("../images/Run Buddy image-min.jpeg");
    background-size: cover;
    background-position: center;
}

.inbox5 {
    display: flex;
    margin-top: 353px;
    margin-left: 0px;
    padding: 0px;
    height: 100px;
    width: 354px;
    border-left: 0px;
    background-color: #e6b5124b;
}

.inbox-font5 {
    font-size: 55px;
    font-family: cursive;
    text-align: justify, center;
    color: green;
}

.footer {
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
}

.contact-me1 {
    display: inline-flexbox;
    margin-top: 84px;
    margin-left: 47px;
    padding: 0px;
    height: 100px;
    width: 354px;
    border-left: 0px;
    background-color: none;
}

.footer-fonts {
    font-size: 25px;
    font-family: sans-serif;
    text-decoration: underline;
    text-align: center;
    color: black;
}